.navartl{
    direction: rtl;
    text-align: right;

}

 .body{
    direction: rtl;
    text-align: right; 
    font-family: 'Cairo', sans-serif !important;
} 
.iconartl{
    width: 36% ;
}
.about_area{
    direction: rtl;
    text-align: right;
}

.onelogo{
    width: 29%;
}